.main-container {
    margin: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px; /* 구역간의 간격 */
  }
  .temp-box {
    width: 100%;
    height: 100%;
    font-size: 40px;
    border: 1px solid #111111;
  }
  .box-three {
    padding-top:100px;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    border: none; /* border를 지우고 3-1과 3-2에 각각 border를 적용해줍니다. */
  }
  .box-four {
    padding-top:100px;
    display: flex;
    flex-direction: column;
    border: none;

  }
  .box-four > div:first-child {
    flex: 1;
    margin-bottom: 20px;
  }

  .box-four > div:last-child {
    flex: 1;
    margin-bottom: 20px;
  }

  .time-picker {
      margin-top: 100px;
      margin-left: 30px;
  }


  .login-button img {
    padding-right: 20px;
    padding-top: 60px;
  }

  .login-button span {
    font-size: 14px;
  }
